/*
--------------------------
- 1.1 Default CSS
--------------------------
*/
/* Your default CSS. */
*{margin: 0;padding:0;box-sizing: border-box;}

.clear {
    clear: both
}

::-moz-selection {
    background: #00b0ff;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #00b0ff;
    color: #fff;
    text-shadow: none;
}

.no-mar {
    margin: 0!important;
}

.no-pad {
    padding: 0!important;
}

.no-pad-top {
    padding-top: 0!important;
}

.no-pad-bottom{
    padding-bottom: 0!important;
}



/*custome class*/

.mar-bot-50 {
    margin-bottom: 50px;
}

.mar-bot-40 {
    margin-bottom: 40px;
}

.mar-bot-35 {
    margin-bottom: 35px;
}

.mar-bot-30 {
    margin-bottom: 30px;
}

.mar-top-30 {
    margin-top: 30px;
}

.mar-top-80 {
    margin-top: 80px;
}

.mar-top-80 {
    margin-top: 80px;
}

.mar-top-55 {
    margin-top: 55px;
}

.mar-top-108 {
    margin-top: 108px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    height: auto;
}

button,
input,
textarea {
    letter-spacing: 0px;
}

/*custome css*/

/*----------------------------
  14. Basic margin padding
-----------------------------*/
@keyframes zumping-btn{
    0%{
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    50%{
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    100%{
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.m--0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.p--0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
/*---------------------------
  15. Margin top
--------------------------*/
.mt--0 { margin-top: 0 }
.mt--10 { margin-top: 10px }
.mt--15 { margin-top: 15px }
.mt--20 { margin-top: 20px }
.mt--30 { margin-top: 30px }
.mt--40 { margin-top: 40px }
.mt--50 { margin-top: 50px }
.mt--60 { margin-top: 60px }
.mt--70 { margin-top: 70px }
.mt--80 { margin-top: 80px }
.mt--90 { margin-top: 90px }
.mt--100 { margin-top: 100px }
.mt--110 { margin-top: 110px }
.mt--120 { margin-top: 120px }
.mt--130 { margin-top: 130px }
.mt--140 { margin-top: 140px }
.mt--150 { margin-top: 150px }
.mt--160 { margin-top: 160px }
.mt--170 { margin-top: 170px }
.mt--180 { margin-top: 180px }
.mt--190 { margin-top: 190px }

/*-----------------------------
  16. Margin bottom
-------------------------------*/
.mb--0 { margin-bottom: 0 }
.mb--10 { margin-bottom: 10px }
.mb--15 { margin-bottom: 15px }
.mb--20 { margin-bottom: 20px }
.mb--30 { margin-bottom: 30px }
.mb--40 { margin-bottom: 40px }
.mb--50 { margin-bottom: 50px }
.mb--60 { margin-bottom: 60px }
.mb--70 { margin-bottom: 70px }
.mb--80 { margin-bottom: 80px }
.mb--90 { margin-bottom: 90px }
.mb--100 { margin-bottom: 100px }
.mb--110 { margin-bottom: 110px }
.mb--120 { margin-bottom: 120px }
.mb--130 { margin-bottom: 130px }
.mb--140 { margin-bottom: 140px }
.mb--150 { margin-bottom: 150px }
.mb--160 { margin-bottom: 160px }
.mb--170 { margin-bottom: 170px }
.mb--180 { margin-bottom: 180px }
.mb--190 { margin-bottom: 190px }

/*--------------------------
  17. Padding top
---------------------------*/
.pt--0 { padding-top: 0 }
.pt--10 { padding-top: 10px }
.pt--15 { padding-top: 15px }
.pt--20 { padding-top: 20px }
.pt--30 { padding-top: 30px }
.pt--40 { padding-top: 40px }
.pt--50 { padding-top: 50px }
.pt--60 { padding-top: 60px }
.pt--70 { padding-top: 70px }
.pt--80 { padding-top: 80px }
.pt--90 { padding-top: 90px }
.pt--100 { padding-top: 100px }
.pt--110 { padding-top: 110px }
.pt--120 { padding-top: 120px }
.pt--130 { padding-top: 130px }
.pt--140 { padding-top: 140px }
.pt--150 { padding-top: 150px }
.pt--154 { padding-top: 154px }
.pt--160 { padding-top: 160px }
.pt--170 { padding-top: 170px }
.pt--180 { padding-top: 180px }
.pt--190 { padding-top: 190px }
.pt--230 { padding-top: 230px }
.pt--200 { padding-top: 200px }
.pt--220 { padding-top: 220px }

/*------------------------
  18. Padding bottom
---------------------------*/
.pb--0 { padding-bottom: 0 }
.pb--10 { padding-bottom: 10px }
.pb--15 { padding-bottom: 15px }
.pb--20 { padding-bottom: 20px }
.pb--30 { padding-bottom: 30px }
.pb--40 { padding-bottom: 40px }
.pb--50 { padding-bottom: 50px }
.pb--60 { padding-bottom: 60px }
.pb--70 { padding-bottom: 70px }
.pb--80 { padding-bottom: 80px }
.pb--90 { padding-bottom: 90px }
.pb--100 { padding-bottom: 100px }
.pb--110 { padding-bottom: 110px }
.pb--120 { padding-bottom: 120px }
.pb--130 { padding-bottom: 130px }
.pb--140 { padding-bottom: 140px }
.pb--150 { padding-bottom: 150px }
.pb--160 { padding-bottom: 160px }
.pb--170 { padding-bottom: 170px }
.pb--180 { padding-bottom: 180px }
.pb--190 { padding-bottom: 190px }


/*------------------------------
  19. Page section padding
-------------------------------*/
.ptb--0 { padding: 0 }
.ptb--10 { padding: 10px 0 }
.ptb--20 { padding: 20px 0 }
.ptb--30 { padding: 30px 0 }
.ptb--40 { padding: 40px 0 }
.ptb--50 { padding: 50px 0 }
.ptb--60 { padding: 60px 0 }
.ptb--70 { padding: 70px 0 }
.ptb--80 { padding: 80px 0 }
.ptb--90 { padding: 90px 0 }
.ptb--100 { padding: 100px 0 }
.ptb--110 { padding: 110px 0 }
.ptb--120 { padding: 120px 0 }
.ptb--130 { padding: 130px 0 }
.ptb--140 { padding: 140px 0 }
.ptb--150 { padding: 150px 0 }
.ptb--160 { padding: 160px 0 }
.ptb--170 { padding: 170px 0 }
.ptb--180 { padding: 180px 0 }

/*---------------------------
  20. Page section margin
-----------------------------*/
.mtb--0 { margin: 0 }
.mtb--10 { margin: 10px 0 }
.mtb--15 { margin: 15px 0 }
.mtb--20 { margin: 20px 0 }
.mtb--30 { margin: 30px 0 }
.mtb--40 { margin: 40px 0 }
.mtb--50 { margin: 50px 0 }
.mtb--60 { margin: 60px 0 }
.mtb--70 { margin: 70px 0 }
.mtb--80 { margin: 80px 0 }
.mtb--90 { margin: 90px 0 }
.mtb--100 { margin: 100px 0 }
.mtb--110 { margin: 110px 0 }
.mtb--120 { margin: 120px 0 }
.mtb--130 { margin: 130px 0 }
.mtb--140 { margin: 140px 0 }
.mtb--150 { margin: 150px 0; }
.mtb--160 { margin: 160px 0; }
.mtb--170 { margin: 170px 0; }
.mtb--180 { margin: 180px 0; }
.text-theme{
    color: #ffb607;
}
.bg-theme{
    background-color: #f8c000;
}
.bg-gray{
    background-color: #f5f5f5;
}
.meta-left{
    float: left;
}
.meta-right{
    float: right;
}
.meta-content{
    overflow: hidden;
}
.fix{
    overflow: hidden;
}


@keyframes animColor{
  from {
    background : red;
  }
  25%{
    background : yellow;
  }
  50%{
    background : green;
  }
  75%{
    background : brown;
  }
  to {
    background : blue;
  }
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #fff;
}
.hart-wrap {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  margin-left: -10px;
  z-index: 1500;
}
.heart {
  position: relative;
}
.heart,
.heart:before,
.heart:after {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #5e9a8e;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.heart.heart2,
.heart.heart2:before,
.heart.heart2:after {
  background-color: #9a8c40;
}
.heart:before,
.heart:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.heart:before {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: animX 3s infinite 0.75s;
          animation: animX 3s infinite 0.75s;
}
.heart:after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: animY 3s infinite;
          animation: animY 3s infinite;
}
@-webkit-keyframes animX {
  0%, 25% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50%, 75% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@keyframes animX {
  0%, 25% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50%, 75% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@-webkit-keyframes animY {
  0%, 25% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50%, 75% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
@keyframes animY {
  0%, 25% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  50%, 75% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
/*slider content animation*/

.slider-two .sd-default-content span,
.slider-parallax .sd-default-content span,
.slider-two .sd-default-content h4,
.slider-parallax .sd-default-content h4,
.slider-two .sd-default-content p,
.slider-parallax .sd-default-content p,
.slider-area:before {
    opacity: 0;
}

.scontent_loaded .sd-default-content span,
.scontent_loaded .sd-default-content span {
    -webkit-animation: fadeinup 1200ms ease-in-out 0.9s forwards;
    -o-animation: fadeinup 1200ms ease-in-out 0.9s forwards;
    animation: fadeinup 1200ms ease-in-out 0.9s forwards;
}


.scontent_loaded .sd-default-content h4,
.scontent_loaded .sd-default-content h4 {
    -webkit-animation: fadeinup 1200ms ease-in-out 0.9s forwards;
    -o-animation: fadeinup 1200ms ease-in-out 0.9s forwards;
    animation: fadeinup 1200ms ease-in-out 0.9s forwards;
}

.scontent_loaded .sd-default-content p,
.scontent_loaded .sd-default-content p {
    -webkit-animation: fadeinup 1300ms ease-in-out 1.1s forwards;
    -o-animation: fadeinup 1300ms ease-in-out 1.1s forwards;
    animation: fadeinup 1300ms ease-in-out 1.1s forwards;
}

.scontent_loaded.slider-area:before {
    -webkit-animation: fadein 1400ms ease-in-out 1.2s forwards;
    -o-animation: fadein 1400ms ease-in-out 1.2s forwards;
    animation: fadein 1400ms ease-in-out 1.2s forwards;
}

@keyframes fadeinup {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*Fonts*/
.font-dacing {
    font-family: 'Dancing Script', cursive;
}
